# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.pio
.pio/*

.vscode
.vscode/*


test-ccc/
test-ccc/*

Makefile
release/*
make.log
workspace/MiniThread.code-workspace

# For build test
CMakeLists.txt
platformio.ini
sdkconfig


